.wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.card {
  position: relative;
  z-index: 1; /* Поверх видео */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #ccc;
}

.note {
  color: #aaa;
}

.err {
  color: #f55;
}
